* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body{ 
    background-color: #2c2f33;
}

header {
    display:flex ;
    background-color: #23272A;
}

header h1 {
    align-items: flex-start;
}

nav ul {
    
    align-items: flex-end;
    flex-direction: row;
}